 <div class="top text-center">
  <%= image_tag("logo.png")%>
  <h4>Leonardo Luxburg</h4>
  <h6>Software Developer</h6>
  <br>
  <div class="text-center">
   <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#demo2"> <i class="fa fa-bars" data-toggle="collapse" data-target="#demo"></i></button>
  </div>
  <div id="demo" class="collapse text-center route">
     <%= link_to root_path do %> <h5><strong>Leonardo Luxburg</strong></h5><% end %>
     <%= link_to projects_path do %> <h5><strong>Portfolio</strong></h5> <% end %>
     <%= link_to "http://www.bmoproject.com/" do %> <h5><strong>Blog</strong></h5> <% end %>
    <%= link_to new_message_path do %> <h5><strong>Contact me</strong></h5><% end %>
  </div>
</div>
<div class="message text-center">
  <br>
  <div class="container">
  <h3><strong>Letter</strong></h3>
  <hr>
  <div class="row">
  <div class="col-xs-12 col-sm-6">
  <%= image_tag("logo2.png")%>
  <br>
  <br>
  <p>@leonardoluxburg</p>
  <p>leonardoluxburg@gmail.com</p>
  </div>
    <div class="col-xs-12 col-sm-6">
  <%= simple_form_for @message do |f| %>
  <%= f.input :name %>
  <%= f.input :email %>
  <%= f.input :message %>
  <%= f.button :submit,class: "btn btn-primary" %>
  <% end %>
</div>
  </div>
  <hr>
  </div>
  <br>
  <br>
</div>
<br>
<br>
<br>
