 <div class="top text-center">
  <%= image_tag("logo.png")%>
  <h4>Leonardo Luxburg</h4>
  <h6>Software Developer</h6>
  <br>
  <div class="text-center">
   <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#demo2"> <i class="fa fa-bars" data-toggle="collapse" data-target="#demo"></i></button>
 </div>
 <div id="demo" class="collapse text-center route">
   <%= link_to root_path do %> <h5><strong>Leonardo Luxburg</strong></h5><% end %>
   <%= link_to "/podcast" do %> <h5><strong>Podcast</strong></h5> <% end %>
   <%= link_to "/cv" do %> <h5><strong>CV</strong></h5> <% end %>
   <%= link_to projects_path do %> <h5><strong>Portfolio</strong></h5> <% end %>
   <%= link_to "http://www.bmoproject.com/" do %> <h5><strong>Blog</strong></h5> <% end %>
   <%= link_to new_message_path do %> <h5><strong>Contact me</strong></h5><% end %>
 </div>
</div>
<div class="me text-center">
  <br>
  <div class="container">
    <h3><strong>CV</strong></h3>
    <hr>
    <div class="row">
  <h3 dir="ltr"><span>EXPERIENCIA</span></h3>
<h4 dir="ltr"><span>Live and Invest Overseas, Panam&aacute;</span><span>&nbsp;&mdash; Administraci&oacute;n Web</span></h4>
<p dir="ltr"><span>www.liveandinvestoverseas.com</span></p>
<p dir="ltr"><span>JUNIO 2020 - PRESENTE</span></p>
<ul style="list-style-type:none;">
<li dir="ltr">
<p dir="ltr"><span><span>Administraci&oacute;n web en wordpress de liveandinvestoverseas.com.</span></span></p>
</li>
<li dir="ltr">
<p dir="ltr"><span><span>Administraci&oacute;n web en wordpress de sitios relacionados a la empresa.&nbsp;</span></span></p>
</li>
</ul>
<h4 dir="ltr"><span>BMO project, Panam&aacute;</span><span>&nbsp;&mdash; Start up</span></h4>
<p dir="ltr"><span>www.bmoproject.com</span></p>
<p dir="ltr"><span>MAYO 2020 - PRESENTE</span></p>
<ul style="list-style-type:none;">
<li dir="ltr">
<p dir="ltr"><span><span>Start Up personal.</span></span></p>
</li>
<li>
<p ><span><span>Project Management.&nbsp;</span></span></p>
</li>
<li dir="ltr">
<p dir="ltr"><span><span>Desarrollo web Full stack en ruby on rails.</span></span></p>
</li>
<li dir="ltr">
<p dir="ltr"><span><span>Escuela de desarrollo de software.&nbsp;</span></span></p>
</li>
<li dir="ltr">
<p dir="ltr"><span><span>Creaci&oacute;n de contenido.</span></span></p>
</li>
</ul>
<h4 dir="ltr"><span>Easy Networks, Panam&aacute;</span><span>&nbsp;&mdash; Consultor&iacute;a</span></h4>
<p dir="ltr"><span>&nbsp;MARZO 2020 - MAYO 2020</span></p>
<ul style="list-style-type:none;">
<li dir="ltr">
<p dir="ltr"><span><span>Consultoria en estructura de aplicaci&oacute;n web y flujo de data.&nbsp;</span></span></p>
</li>
<li dir="ltr">
<p dir="ltr"><span><span>Desarrollo de plataforma web en rails.</span></span></p>
</li>
</ul>
<h4 dir="ltr"><span>Team Cadre, Panam&aacute;</span><span>&nbsp;&mdash; Desarrollo de software</span></h4>
<p dir="ltr"><span>www.teamcadre.com</span></p>
<p dir="ltr"><span>FEBRERO 2019 - FEBRERO 2020</span></p>
<ul style="list-style-type:none;">
<li dir="ltr">
<p dir="ltr"><span><span>Desarrollo full-stack de aplicaci&oacute;n mobile en Flutter para AcummenIT.</span></span></p>
</li>
<li dir="ltr">
<p dir="ltr"><span><span>Desarrollo de Assistente de google en Dialog Flow para AcummenIT.</span></span></p>
</li>
<li dir="ltr">
<p dir="ltr"><span><span>Desarrollo full-stack de aplicaci&oacute;n mobile en Flutter para EOS usa.</span></span></p>
</li>
<li dir="ltr">
<p dir="ltr"><span><span>Desarrollo web full-stack en Rails para AcummenIT.</span></span></p>
</li>
<li dir="ltr">
<p dir="ltr"><span><span>Desarrollo web full-stack en Rails para EOS usa.</span></span></p>
</li>
<li dir="ltr">
<p dir="ltr"><span><span>Administraci&oacute;n web en wordpress para Team Cadre.&nbsp;</span></span></p>
</li>
<li dir="ltr">
<p dir="ltr"><span><span>Project Management.&nbsp;</span></span></p>
</li>
</ul>
<h4 dir="ltr"><span>RootStack, Panam&aacute;</span><span>&nbsp;&mdash; Desarollo web</span></h4>
<p dir="ltr"><span>www.rootstack.com/en</span></p>
<p dir="ltr"><span>OCTUBRE 2018 - DICIEMBRE 2018</span></p>
<ul style="list-style-type:none;">
<li dir="ltr">
<p dir="ltr"><span><span>Desarollo web de en drupal para la UIP (idealista.uip.edu.pa/).</span></span></p>
</li>
<li dir="ltr">
<p dir="ltr"><span><span>Desarrollo web en drupal para el 911 memorial museum.</span></span></p>
</li>
<li dir="ltr">
<p dir="ltr"><span><span>Administraci&oacute;n web en JS para rootstack.com.</span></span></p>
</li>
<li dir="ltr">
<p dir="ltr"><span><span>Debugeo en python de express para rootstack.</span></span></p>
</li>
</ul>
<h4 dir="ltr"><span>Viajes Lina Tour, Panam&aacute;</span><span>&nbsp;&mdash; Desarollo web</span></h4>
<p dir="ltr"><span>www.viajeslinatour.com</span></p>
<p dir="ltr"><span>JUNIO 2018 - PRESENTE</span></p>
<ul style="list-style-type:none;">
<li dir="ltr">
<p dir="ltr"><span><span>Administraci&oacute;n y creaci&oacute;n web para plaingo.com.</span></span></p>
</li>
<li dir="ltr">
<p dir="ltr"><span><span>Administraci&oacute;n web para bedsfly.com.</span></span></p>
</li>
<li dir="ltr">
<p dir="ltr"><span><span>Project Management.&nbsp;</span></span></p>
</li>
<li dir="ltr">
<p dir="ltr"><span><span>Administraci&oacute;n web para vaijeslinatour.com</span></span></p>
</li>
</ul>
<h4 dir="ltr"><span>Alcald&iacute;a de San Miguelito, Panam&aacute;</span><span>&nbsp;&mdash; Consultor&iacute;a</span></h4>
<p dir="ltr"><span>MARZO 2018 - MAYO 2018</span></p>
<ul style="list-style-type:none;">
<li dir="ltr">
<p dir="ltr"><span><span>Consultoria en estructura de aplicaci&oacute;n web y flujo de data.</span></span></p>
</li>
<li dir="ltr">
<p dir="ltr"><span><span>Project Management.&nbsp;</span></span></p>
</li>
<li dir="ltr">
<p dir="ltr"><span><span>Desarrollo de plataforma web en rails.</span></span></p>
</li>
</ul>
<h4 dir="ltr"><span>Punto Bohemio, Panam&aacute;</span><span>&nbsp;&mdash; Desarollo web</span></h4>
<p dir="ltr"><span>MAYO 2017 - OCTUBRE 2017</span></p>
<ul style="list-style-type:none;">
<li dir="ltr">
<p dir="ltr"><span><span>Desarrollo de plataforma web en rails para Miryam Rompe.</span></span></p>
</li>
<li dir="ltr">
<p dir="ltr"><span><span>Desarrollo de plataforma web en rails para panam&aacute; instant&aacute;nea.&nbsp;</span></span></p>
</li>
</ul>
<h4 dir="ltr"><span>Leonardo Luxburg, Panam&aacute;</span><span>&nbsp;&mdash; Desarollo web</span></h4>
<p dir="ltr"><span>www.leonardoluxburg.com</span></p>
<p dir="ltr"><span>ABRIL 2017 - PRESENTE</span></p>
<ul style="list-style-type:none;">
<li dir="ltr">
<p dir="ltr"><span><span>Freelancer como desarrollador web.&nbsp;</span></span></p>
</li>
</ul>
<h4 dir="ltr"><span>Edu Find me, Panam&aacute;</span><span>&nbsp;&mdash; Traductor</span></h4>
<p dir="ltr"><span>SEPTIEMBRE 2016&nbsp;</span></p>
<ul style="list-style-type:none;">
<li dir="ltr">
<p dir="ltr"><span><span>Traductor Ingl&eacute;s Espa&ntilde;ol.&nbsp;</span></span></p>
</li>
</ul>
<h4 dir="ltr"><span>Pinocchios Pizzeria, Panam&aacute;</span><span>&nbsp;&mdash; Social Manager&nbsp;</span></h4>
<p dir="ltr"><span>@pinocchiospanama</span></p>
<p dir="ltr"><span>JULIO 2016 - OCTUBRE 2016</span></p>
<ul style="list-style-type:none;">
<li dir="ltr">
<p dir="ltr"><span><span>Administraci&oacute;n de redes sociales.</span></span></p>
</li>
<li dir="ltr">
<p dir="ltr"><span><span>Creaci&oacute;n de contenido.</span></span></p>
</li>
</ul>
<h4 dir="ltr"><span>PTY Brothers, Panam&aacute;</span><span>&nbsp;&mdash; Desarollo web</span></h4>
<p dir="ltr"><span>www.ptybrothers.com</span></p>
<p dir="ltr"><span>MAYO 2016 - Junio 2018</span></p>
<ul style="list-style-type:none;">
<li dir="ltr">
<p dir="ltr"><span><span>Desarrollo de plataforma web en rails.</span></span></p>
</li>
<li dir="ltr">
<p dir="ltr"><span><span>Project Management.&nbsp;</span></span></p>
</li>
<li dir="ltr">
<p dir="ltr"><span><span>Organizaci&oacute;n de eventos.</span></span></p>
</li>
<li dir="ltr">
<p dir="ltr"><span><span>Creaci&oacute;n de contenido.</span></span></p>
</li>
<li dir="ltr">
<p dir="ltr"><span><span>Start Up personal.</span></span></p>
</li>
</ul>
<h3 dir="ltr"><span>DESARROLLO</span></h3>
<p dir="ltr"><span>&middot;</span><span>&nbsp;Drupal, wordpress, Shopify.</span></p>
<p dir="ltr"><span>&middot; HTML, CSS.</span></p>
<p dir="ltr"><span>&middot; Ruby, Python, Dart, JavaScript.</span></p>
<p dir="ltr"><span>&middot; Postgresql, sqlite, firebase, API&rsquo;s.</span></p>
<p dir="ltr"><span>&middot; Dialog Flow, google assistant.</span></p>
<p dir="ltr"><span>&middot; Ruby on rails, Flask, Django, React.</span></p>
<p dir="ltr"><span>&middot; Flutter, Ionic.</span></p>
<p dir="ltr"><span>&middot; Slack, Kanban, Github.</span></p>
<h3 dir="ltr"><span>APTITUDES</span></h3>
<p dir="ltr"><span>&middot;&nbsp;</span><span>Manejo de herramientas digitales.</span></p>
<p dir="ltr"><span>&middot; Capacidad de an&aacute;lisis.</span></p>
<p dir="ltr"><span>&middot; Trabajo en equipo.</span></p>
<p dir="ltr"><span>&middot; Responsabilidad.</span></p>
<p dir="ltr"><span>&middot; Creatividad</span></p>
<p dir="ltr"><span>&middot; Capacidad para el pensamiento abstracto.</span></p>
<p dir="ltr"><span>&middot; Soluci&oacute;n de problemas.</span></p>
<h3 dir="ltr"><span>IDIOMAS</span></h3>
<p dir="ltr"><span>&middot;&nbsp;</span><span>Ingl&eacute;s [ALTO].</span></p>
<p dir="ltr"><span>&middot; Espa&ntilde;ol [NATIVO].</span></p>
<h3 dir="ltr"><span>VOLUNTARIADOS</span></h3>
<p dir="ltr"><span>&middot;&nbsp;</span><span>Visualistmo, Punto Bohemio</span><span>&mdash; Abril 2017.</span></p>
<p dir="ltr"><span>&middot;&nbsp;</span><span>Python Meet Up, Flosspa</span><span>&nbsp;&mdash; Octubre 2016.</span></p>
<p dir="ltr"><span>&middot;&nbsp;</span><span>Mega Tendencias Innovation, Trendings Panam&aacute;</span><span>&nbsp;&mdash; Julio 2015.</span></p>
<h3 dir="ltr"><span>FORMACI&Oacute;N</span></h3>
<h4 dir="ltr"><span>Udemy, Online</span><span>&nbsp;&mdash; Software development.</span></h4>
<p dir="ltr"><span>SEPTIEMBRE DEL 2017-Actualidad &nbsp;</span></p>
<p dir="ltr"><span>Certificaciones en desarrollo de software.</span></p>
<h4 dir="ltr"><span>Ruby Conf, Colombia</span><span>&nbsp;&mdash; Conferencia de Ruby.</span></h4>
<p dir="ltr"><span>OCTUBRE DEL 2017,</span></p>
<p dir="ltr"><span>Conferencia de t&eacute;cnicas de desarrollo. &nbsp;&nbsp;</span></p>
<h4 dir="ltr"><span>UIP, Panam&aacute;</span><span>&nbsp;&mdash; Ingenieria en sistema.</span></h4>
<p dir="ltr"><span>SEPTIEMBRE DEL 2015 - 2017 &nbsp;&nbsp;</span></p>
<h4 dir="ltr"><span>Le Wagon, Amsterdam</span><span>&nbsp;&mdash; Bootcamp Ruby on Rails.</span></h4>
<p dir="ltr"><span>FEBRERO DEL 2017- MAYO DEL 2017, Panam&aacute;</span></p>
<p dir="ltr"><span>Certificaci&oacute;n como full stack developer Web. &nbsp; &nbsp;</span></p>
<h4 dir="ltr"><span>Instituto Atenea , Panam&aacute;</span><span>&nbsp;&mdash; Escuela Secundaria.</span></h4>
<p dir="ltr"><span>MARZO DEL 2007- DICIEMBRE DEL 2014, Panam&aacute;</span></p>
<p dir="ltr"><span>Bachiller en ciencias. &nbsp;</span></p>
<h4 dir="ltr"><span>Autodidacta, Panam&aacute;</span><span>&nbsp;&mdash; Programaci&oacute;n.</span></h4>
<p dir="ltr"><span>2009 &nbsp;</span></p>
<p dir="ltr"><span>Aprendizaje de programaci&oacute;n Online.</span></p>

    </div>
      <hr>
    <br>
    <br>
  </div>
</div>
<br>
<br>
