 <div class="top text-center">
  <%= image_tag("logo.png")%>
  <h4>Leonardo Luxburg</h4>
  <h6>Software Developer</h6>
  <br>
  <div class="text-center">
   <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#demo2"> <i class="fa fa-bars" data-toggle="collapse" data-target="#demo"></i></button>
 </div>
 <div id="demo" class="collapse text-center route">
   <%= link_to root_path do %> <h5><strong>Home</strong></h5><% end %>
   <%= link_to "/cv" do %> <h5><strong>CV</strong></h5> <% end %>
   <%= link_to projects_path do %> <h5><strong>Portfolio</strong></h5> <% end %>
   <%= link_to "http://www.bmoproject.com/" do %> <h5><strong>Blog</strong></h5> <% end %>
   <%= link_to new_message_path do %> <h5><strong>Contact me</strong></h5><% end %>
 </div>
</div>
<div class="me">
  <br>
  <div class="container">
    <h3 class="text-center"><strong>CV</strong></h3>
    <hr>
    <div class="row">
      <div class="col-md-6 text-center">
       <p style="font-size: 25px"><i class="fas fa-globe-americas"></i> Experiencia</p>
       <h4><strong><a href="https://www.liveandinvestoverseas.com">Live and Invest Overseas</a></strong></h4>
       <p class=""><i class="fas fa-laptop"></i> Desarrollo web | <i class="fas fa-clock"></i> Junio 2020   </p>
       <p>- Administración web en wordpress para liveandinvestoverseas.</p>

       <h4><strong><a href="https://www.bmoproject.com">BMOProject</a></strong></h4>
       <p class=""><i class="fas fa-laptop"></i> Blog | <i class="fas fa-clock"></i> Mayo 2020 - Presente   </p>
       <p>- Start-up personal.<br>
       - Creacion de contenido.</p>

       <h4><strong>Easy Networks</strong></h4>
       <p class=""><i class="fas fa-laptop"></i> Consultoria | <i class="fas fa-clock"></i>  Marzo 2020 - Mayo 2020   </p>
       <p>- Desarrollo de plataforma web en rails. <br>
       - Estructura de aplicación web y flujo de data.</p>

       <h4><strong><a href="http://www.teamcadre.com">Team Cadre</a></strong></h4>
       <p class=""><i class="fas fa-laptop"></i> Desarrollo de software | <i class="fas fa-clock"></i>  Febrero 2019 - Febrero 2020   </p>
       <p>- Desarrollo full-stack de app mobile en Flutter para AcummenIT.<br>- Desarrollo de Assistente de google en Dialog Flow para AcummenIT.<br>- Desarrollo full-stack de app mobile en Flutter para EOS usa. <br> - Desarrollo web en Rails para AcummenIT. <br> - Desarrollo web full-stack en Rails para EOS usa. <br> - Administración web en wordpress para Team Cadre.</p>

       <h4><strong><a href="http://www.rootstack.com">Rootstack</a></strong></h4>
       <p class=""><i class="fas fa-laptop"></i> Desarrollo web | <i class="fas fa-clock"></i>  Octubre 2018 - Diciembre 2018  </p>
       <p>- Desarollo web en drupal para la UIP.<br>- Desarrollo web en drupal para el 911 memorial museum.<br>- Debugeo en python de express para rootstack. <br> - Administración web en JS para rootstack.com.</p>

       <h4><strong><a href="http://www.viajeslinatour.com">Viajes Lina Tour</a></strong></h4>
       <p class=""><i class="fas fa-laptop"></i> Administración web | <i class="fas fa-clock"></i>  Junio 2018 - Presente  </p>
       <p>- Project Management. <br>- Administración web en .net para plaingo.com.<br>- Administración web en .net para bedsfly.com.</p>


       <h4><strong>Alcaldía de San Miguelito</strong></h4>
       <p class=""><i class="fas fa-laptop"></i> Consultoria | <i class="fas fa-clock"></i>  Marzo 2018 - Mayo 2018  </p>
       <p>- Project Management.<br>- Consultoria en estructura de aplicación web y flujo de data..<br>- Desarrollo de plataforma web en rails. </p>


       <h4><strong><a href="http://www.puntobohemio.com">Punto Bohemio</a></strong></h4>
       <p class=""><i class="fas fa-laptop"></i> Desarrollo Web | <i class="fas fa-clock"></i>  Mayo 2017 - Octubre 2017  </p>
       <p>- Desarrollo de plataforma web en rails para Miryam Romper. <br> - Desarrollo de plataforma web en rails para panamá instantánea. <br> - Desarrollo de plataforma web en rails LeonardoLuxburg</p>


       <h4><strong>Edu Find me</strong></h4>
       <p class=""><i class="fas fa-laptop"></i> Traductor | <i class="fas fa-clock"></i>  Septiembre 2016 - Septiembre 2019  </p>
       <p>- Traductor ingles - español</p>

       <h4><strong>Pinocchios Pizza</strong></h4>
       <p class=""><i class="fas fa-laptop"></i> Social Manager | <i class="fas fa-clock"></i>  Julio 2016 - Octubre 2016  </p>
       <p>- Administración de redes sociales. <br> - Creación de contenido.</p>

       <h4><strong>PTY Brothers</strong></h4>
       <p class=""><i class="fas fa-laptop"></i> Traductor | <i class="fas fa-clock"></i>  Mayo 2016 - Presente  </p>
       <p>- Desarrollo de plataforma web en rails. <br> - Project Management. <br> - Organización de eventos. <br> - Creación de contenido.</p>


     </div>
     <div class="col-md-6 text-center">
      <p style="font-size: 25px"><i class="fas fa-terminal"></i> Herramientas</p>
      <p>- Ruby, Python, Dart, JS. <br>- HTML, CSS. <br>- Postgresql, sqlite, firebase, API’s. <br>- Ruby on rails, Flask, Django, React. <br>- Flutter, ionic. <br>- Git, Terminal. <br>- Drupal, wordpress, Shopify. <br>- Ethical Hacking.</p>
      <p style="font-size: 25px"><i class="fas fa-language"></i> Idiomas</p>
      <p>-Ingles <br> -Español </p>
      <p style="font-size: 25px"><i class="fas fa-graduation-cap"></i> Formación</p>
      <h4><strong>Udemy</strong></h4>
      <p class=""><i class="fas fa-laptop"></i> Software development | <i class="fas fa-clock"></i>  Septiembre 2016 - Presente  </p>
      <p>- Certificaciones en desarrollo de software.</p>
      <h4><strong>Ruby Conf</strong></h4>
      <p class=""><i class="fas fa-laptop"></i> Ruby | <i class="fas fa-clock"></i>  Octubre 2017  </p>
      <p>- Conferencia de técnicas de desarrollo.</p>
      <h4><strong>UIP</strong></h4>
      <p class=""><i class="fas fa-laptop"></i> Ing Sitemas | <i class="fas fa-clock"></i>  Septiembre 2015 - 2017   </p>
      <p>- Estudios Universitarios.</p>
      <h4><strong>Le Wagon</strong></h4>
      <p class=""><i class="fas fa-laptop"></i> Web Development | <i class="fas fa-clock"></i>  Febrero 2017- Mayo 2017  </p>
      <p>- Certificación como full stack Web Developer.</p>
      <h4><strong>Instituto Atenea</strong></h4>
      <p class=""><i class="fas fa-laptop"></i> Escuela | <i class="fas fa-clock"></i>  Marzo 2007 - Diciembre 2014 </p>
      <p>- Educación escolar.</p>
      <h4><strong>Autodidacta</strong></h4>
      <p class=""><i class="fas fa-laptop"></i> Programacion | <i class="fas fa-clock"></i> 2006 - Presente </p>
      <p>- Educación online.</p>
    </div>
  </div>
  <hr>
  <br>
  <br>
</div>
</div>
<br>
<br>
