<div class="top text-center">
  <%= image_tag("logo.png")%>
  <h3>Leonardo Luxburg</h3>
  <br>
  <h4>Rails Developer </h4>
  <i class="fa fa-diamond" aria-hidden="true" ></i>
  <br>
  <br>
  <h4>leonardoluxburg@gmail.com</h4>
  <br>
  <div class="container">
    <div class="row">
      <div class=" col-xs-12 col-sm-4">
       <a href="https://www.instagram.com/leonardoluxburg/"> <i class="fa fa-instagram"></a></i>
     </div>
     <div class="col-xs-12 col-sm-4">
      <a href="https://github.com/leoluxburg"><i class="fa fa-github" aria-hidden="true"></a></i>
    </div>
    <div class="col-xs-12 col-sm-4">
      <a href="https://twitter.com/leonardoluxburg"><i class="fa fa-twitter"></i></a>
    </div>
  </div>
</div>
</div>

<div class="portafolio text-center">
  <br>
  <h3><strong>Proyectos</strong></h3>
  <hr>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <a href="http://www.ptybrothers.com"> <%= image_tag("ptybro.png")%> </a>
        <h4><strong>PTYBrothers</strong></h4>
      </div>
      <div class="col-xs-12 col-sm-6">
        <a href="/"> <%= image_tag("punto.png")%> </a>
        <h4><strong>Punto Inicial</strong></h4>
      </div>
      <div class="col-xs-12 col-sm-6">
        <a href="/"> <%= image_tag("trend.png")%> </a>
        <h4><strong>Trendings Panama</strong></h4>
      </div>
      <div class="col-xs-12 col-sm-6">
        <a href="/"> <%= image_tag("leo.png")%> </a>
        <h4><strong>Leonardo Luxburg</strong></h4>
      </div>
      <div class="col-xs-12 col-sm-6">
        <a href="/"> <%= image_tag("pi.png")%> </a>
        <h4><strong>Panama Instantánea</strong></h4>
      </div>
    </div>
  </div>
  <hr>
  <br>
  <br>
</div>
<br>
<br>
<br>
<!--
<div class="top">
  <h3>Contact me</h3>
  <div class="container">
    <div class="row">
      <div class="col-xs-6">
      <ul class="unstyle">
        <li></li>
      </ul>
      </div>
      <div class="col-xs-6">
        <a href="https://www.ptybrothers.com"> <%= image_tag("punto.png")%> </a>
        <h4>Punto Inicial</h4>
      </div>
    </div>
  </div>>
</div> -->
