 <div class="top text-center">
  <%= image_tag("logo.png")%>
  <h4>Leonardo Luxburg</h4>
  <h6>Software Developer</h6>
  <br>
  <div class="text-center">
   <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#demo2"> <i class="fa fa-bars" data-toggle="collapse" data-target="#demo"></i></button>
  </div>
  <div id="demo" class="collapse text-center route">
     <%= link_to root_path do %> <h5><strong>Leonardo Luxburg</strong></h5><% end %>
     <%= link_to "/cv" do %> <h5><strong>CV</strong></h5> <% end %>
     <%= link_to projects_path do %> <h5><strong>Portfolio</strong></h5> <% end %>
     <%= link_to "http://www.bmoproject.com/" do %> <h5><strong>Blog</strong></h5> <% end %>
    <%= link_to new_message_path do %> <h5><strong>Contact me</strong></h5><% end %>
  </div>
</div>
<div class="me text-center">
  <br>
  <div class="container">
  <h3><strong>Leonardo Luxburg</strong></h3>
  <hr>
        <div class="row">
        <div class="col-xs-12">
          <%= image_tag("handsomemotherfucker.png")%>
          <br>
          <br>
          <p><i class="fa fa-user"></i> Leonardo Conte</p>
          <p><i class="fa fa-calendar"></i> 23</p>
          <p><i class="fa fa-map-pin"></i> Panama</p>
          <p><i class="fas fa-terminal"></i> Software Developer</p>
          <br>
          <h5><strong>About Me</strong></h5>
          <p class="text-justify">My name is Leo and I work as a software development. I started programming when I was a child, I learned the basics by researching on the internet. When I graduated from school I decided to study systems engineering, in my second year I applied to le wagon. A development BootCamp in Amsterdam. I was accepted and certified as a web developer in ruby ​​on rails. When I returned to Panama I started working as a web developer in the startup of one of my best friends, after a few months I started my career as a freelancer developing ideas and web apps for different entrepreneurs. After a few years I decided to formalize a little and started working in one of the largest development houses in Panama. Soon after I met an investor who hired me as his personal developer and I started coding his ideas. Currently I am still learning new technologies, I am setting up my own company and developing my ideas.</p>
          <br>
          <h5><strong>Skills</strong></h5>
          <p>Full Stack Dev</p>
        </div>
      </div>
    <h5><strong>Social networks</strong></h5>
    <div class="row">
      <div class=" col-xs-4 col-sm-4 redes">
       <a href="https://www.instagram.com/leonardoluxburg/"> <i class="fa fa-instagram"></a></i>
     </div>
     <div class="col-xs-4 col-sm-4 redes">
      <a href="https://github.com/leoluxburg"><i class="fa fa-github" aria-hidden="true"></a></i>
    </div>
    <div class="col-xs-4 col-sm-4 redes">
      <a href="https://twitter.com/leonardoluxburg"><i class="fa fa-twitter"></i></a>
    </div>
  </div>
  <hr>
  </div>
  <br>
  <br>
</div>
<br>
<br>
<br>
